.b-contact {
	.__blur {
		height: 400px;
		width: 400px;
		background: var(--color-primary, #A2CD06);
		mix-blend-mode: overlay;
		filter: blur(150px);
		border-radius: 400px;
		top: 0%;
		right: 5%;
	}
		.__blur-left {
		height: 400px;
		width: 400px;
		background: var(--color-primary, #A2CD06);
		mix-blend-mode: overlay;
		filter: blur(150px);
		border-radius: 400px;
		bottom: 8%;
		left: 0%;
	}

	.custom-figma-form {
		width: 100%;
	}

	.wpcf7 {
		width: 100%;
	}

	.wpcf7-form {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.form-group label {
		font-size: 18px;
		font-weight: 600;
		color: var(--color-white) !important;
		margin: 0;
		display: block;
	}

	.wpcf7-form input,
	.wpcf7-form textarea {
		width: 100%;
		background: #fff;
		border: 1px solid var(--color-primary);
		border-radius: 4px;
		padding: 11px 14px;
		font-size: 16px;
		color: #111;
		transition: 0.2s ease;
	}

	.wpcf7-form textarea {
		min-height: 128px;
		resize: none;
	}

	.wpcf7-form input:focus,
	.wpcf7-form textarea:focus {
		outline: none;
		border-color: #d8ff2f;
		box-shadow: 0 0 0 2px rgba(183, 224, 0, .2);
	}

	.form-consent {
		margin-top: 4px;
	}

	.wpcf7-acceptance {
		display: block;
	}

	.wpcf7-list-item {
		margin-left: 0 !important;
	}


	.wpcf7-list-item label {
		display: flex;
		align-items: flex-start;
		gap: 12px;
		cursor: pointer;
	}

	.wpcf7-list-item input[type="checkbox"] {
		min-width: 24px;
		width: 24px;
		height: 24px;
		margin: 0;
		flex-shrink: 0;
		position: relative;
		top: -2px;
	}

	.wpcf7-list-item-label {
		font-size: 14px;
		line-height: 1.43;
		color: var(--color-white);
		display: block;
	}

	.wpcf7-submit {
		background: var(--color-brand-green) !important;
		color: var(--color-white) !important;
		border: none !important;
		border-radius: 120px !important;
		padding: 17px 38px !important;
		font-size: 16px;
		font-weight: 400;
		cursor: pointer;
		width: max-content !important;
		transition: 0.2s ease;
	}

	.wpcf7-submit:hover {
		filter: brightness(0.9);
	}
}