.duotitle {
  .__img-container {
    width: 100%;
    position: relative;
    z-index: 10;

    img {
      width: 100%;
      height: auto;
      object-fit: contain; 
      z-index: 10; 
    } 
  } 

  .m-title {
    font-weight: 600 !important;
  }


}